body{
    font-family: 'Google Sans','Open Sans','sans-serif';
    font-size: clamp(1.5rem, 1.8rem, 2rem);
    background-color: black;
    margin: 0;
}

/* Body */
header{
    position: relative;
    background-color: rgb(0 255 255);
    text-align: center;
    font-size: clamp(1rem, 2rem, 4rem);
}

article{
    color: gray;
}

footer{
    color: gray;
}

/* Elements */
th, td{
    vertical-align: middle;
    text-align: center;
    padding: 4px;
}

th{
    color: yellow;
}

button{
    font-size: clamp(.5rem, 1rem, 1.5rem);
    color: black;
    background-color: white;
    padding: 5px;
    bottom: 1rem;
    position: relative;
    transition: 1s;
}

button:hover{
    background-color: red;
}

/*Ids*/
#serwersInfo{
    margin: 10px;
    width: 80%;
    position: relative;
    left: 50%;
    translate: -50%;
    border: 1px;
    border-spacing: 5px;
}

/*Classes*/
.navBar{
    background-color: #808080;
}

.navBar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navBar a{
    color: black;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
}

.navBar a:hover{
    background-color: #696969;
}

.navBar li{
    float: left;
}

.rgb{
    font-weight: bold;

    background: linear-gradient(
        90deg,
        #ff0000,
        #ff8000,
        #ffff00,
        #00ff00,
        #00ffff,
        #0000ff,
        #8000ff,
        #ff0000
    );

    background-size: 400%;

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;

    animation: rgb 10s linear infinite;
}

@keyframes rgb{
    0% { background-position: 0%; }
    100% { background-position: 400%; }
}