body{
    font-family: 'Google Sans','Open Sans','Times New Roman';
    font-size: 1rem;
    background-color: black;
}

/* Body */
header{
    background-color: rgb(0 255 255);
    text-align: center;
}

article{
    color: gray;
}

footer{
    color: gray;
}

/* Elements */
th, td{
    vertical-align: middle;
    text-align: center;
    padding: 4px;
}

#serwersInfo{
    margin: 10px;

    border: 1px;
    border-spacing: 5px;
}