body{
    font-family: 'Google Sans','Open Sans','sans-serif';
    font-size: clamp(1.5rem, 1.8rem, 2rem);
    background-color: black;
}

/* Body */
header{
    background-color: rgb(0 255 255);
    text-align: center;
    font-size: clamp(1rem, 2rem, 4rem);
    width: 100%;
}

article{
    color: gray;
    position: relative;
}

footer{
    color: gray;
}

/* Elements */
th, td{
    vertical-align: middle;
    text-align: center;
    padding: 4px;
}

th{
    color: yellow;
}

#serwersInfo{
    margin: 10px;

    border: 1px;
    border-spacing: 5px;
}

button{
    color: black;
    background-color: white;
    height: auto;
    width: 8rem;
    position: absolute;
    left: 50%;
    translate: -50%;
    transition: 1s;
}

button:hover{
    background-color: red;
}